body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 40px;
    padding:10px;
    background-color: black;
    text-align: end;
    line-height: 20px;
}

header img {
    height: 100%;
}

h1 i{
    font-size: .8em;
}


.btn{
    border-radius:1.5rem;
    font-size:0.75rem;
}

.my_search-icon{
    padding-top: 12px;
    margin-left: 10px;
}

.nav-link{
    font-size:0.75rem;
    font-weight: bold;
}

.my_jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color:white;
}

.my_jumbo-height{
    height: calc(100vh - 40px - 76px);
}

.my_jumbo-text p{
    margin:30px 0;
}

.my_jumbo-text > img{
    width: 60%;
    margin-bottom:10px;
}

.container{
    height: 100%;
}

.my_btn-orange{
    background-color: orangered;
    color:white;
    font-weight: bold;
}


.my_little-image-container{
    border:2px solid transparent;
    overflow: hidden;
}

.my_little-image-container:hover{
    border-color: steelblue;
    border-radius: 15px;
    cursor: pointer;
}

.my_little-image-container > img{
    width: 100%;
    border-radius: 15px;
}


.subtitle{
    color:grey;
    font-weight: 600;
    font-size:1.2rem;
}

.my_margin-bottom{
    margin-bottom:5rem;
}

.btn-primary{
    font-weight: bold;
    font-size: .9rem;
}

.my_ps5-container > img{
    width: 100%;
}

.my_little-ps5-image > img{
    width: 100%;
}

.my_text-ps5-items{
    font-weight: 600;
}

.my_ps5-items-border-bottom{
    border-bottom:2px solid transparent;
}

.active{
    border-color:steelblue;
}

.my_ps5-items-border-bottom:hover{
    border-color:steelblue;
    cursor: pointer;
}

.my_jumbo-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    color:white;
}


.my_new-game-image > img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5px;
}

.my_text-new-game{
    font-weight: 600;
    font-size: .9rem;
}

.my_min-height{
    min-height: 100vh;
}

.my_ps4-images > img{
    width: 100%;
    
}

.my_ps-plus-btn{
    color: rgb(0, 118, 253);
    background-color: gainsboro;
    font-weight: bold;
    font-size:.9rem;
}

.ps-logo{
    width: 70%;
}

.ps-now-plus-games{
    width: 100%;
}

.my_ps-now-btn{
    color:black;
    background-color: gainsboro;
    font-weight: bold;
    font-size:.9rem;
}

#new-games{
    background-color: #1f1f1f;
    color:white;
    padding: 20px;
}

#playstation-plus{
    background-color: #bebcbb;
    padding:30px 0;
}

#discount img{
    width: 100%;
}

#ps-now{
    background-color: #161c3b;
    color:white;
    padding:30px 0;
}

#social-media img{
    width: 100%;
}
